*{margin: 0px auto}

#container {
    position: relative;
}

* {
  box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #e7e6e6;
    background-image: url("assets/plants_decor.png");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}

li {
    list-style: none;
}

a:link {
    text-decoration: none;
}

.header-container {
    height: 60px;
}

.main-button {
    margin-right: 20px;
}
.main-button img {
    width: 30px;
    float: right;
    margin: 10px;
    opacity: 80%;
}

.main-button img:hover {
    opacity: 100%;
}

.heading {
    height: 100px;
    margin-bottom: 10px;
}

.heading h1, p {
    text-align: center;
}

.heading h1 {
    font-weight: lighter;
    font-size: 40px;
    color: #47324f;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

.heading p {
    font-weight: lighter;
    font-size: 18px;
    color: #8db1b1;
    margin: 5px 0px;
}

.line {
    border-top: 1px solid #4a7a88;
    text-align: center;
    width: 70%;
    margin-top: 5px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: rgba(74, 122, 136, 0.9);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 25%;
    text-align: center;
  }
  
  input[type=submit]:hover {
    background-color: rgba(20, 46,43, 0.8);
  }
  
  .contact-container {
    width: 40%;
    margin-top: 30px;
    margin-bottom: 0px;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
  }

footer {
    position: absolute;
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
}

.footer-container {
    background-color:rgba(74, 122, 136, 0.8);
    border-radius: 20px;
    height: 100%;
    width: 70%;
}

.nav-container ul {
    text-align: center;
}

ul#list-center {
    bottom: 0px;
    padding-top: 5px;
    text-align: center;
}

ul#list-center li {
    display: inline-block;
    padding: 10px 50px;
    color: #e7f0f0;
}

ul#list-center a:link {
    text-decoration: none;
    color: #e7f0f0;
}

ul#list-center a:visited {
    text-decoration: none;
    color: #e7f0f0;
}

ul#list-center a:hover {
    text-decoration: none;
    color: rgba(74, 122, 136, 0.9);
    text-shadow: 1.5px 1px rgba(0, 0, 0, 0.4);
}