*{margin: 0px auto}

#container{
    min-height:100%;
    position:relative;
}

html, body {
    height: 100%;
}

* {
  box-sizing: border-box;
}

li {
    list-style: none;
}

a:link {
    text-decoration: none;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #A9D6D5;
    background-image: linear-gradient(0deg, rgba(45, 66, 72, 0.3), rgba(45, 66, 72, 0.3)), url(assets/girl_shade.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    
}

.nav-container {
    margin-top: 10px;
}

ul#list-center {
    text-align: center;
}

ul#list-center li {
    display: inline-block;
    padding: 10px 50px;
    color: #e7f0f0;
}

ul#list-center a:link {
    text-decoration: none;
    color: #e7f0f0;
}

ul#list-center a:visited {
    text-decoration: none;
    color: #e7f0f0;
}

ul#list-center a:hover {
    text-decoration: none;
    color: rgba(74, 122, 136, 0.9);
    text-shadow: 1.5px 1px rgba(0, 0, 0, 0.4);
}

.main-section {
    height: 400px;
    margin-top: 60px;
}

.main-container {
    padding-top: 150px;
}

.main-container h1, h3 {
    text-align: center;
    color:#e7f0f0;
    font-weight: 100;
    opacity: 90%;
}

.main-container h1 {
    margin-bottom: 0px;
    font-size: 60px;
    letter-spacing: 1px;
}

.main-container h3 {
    font-size: 20px;
    padding-top: 5px;
}

.main-button {
    margin-top: 150px;
}
.main-button ul {
    text-align: center;
}
.main-button li {
    display: inline-block;
    padding: 10px;
}

.main-button img {
   height: 40px;
   opacity: 80%;
}

.main-button img:hover {
    opacity: 100%;
}